body {
    background: #f2f2f2;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.05em;
    font-weight: 400;
    height: 100%;
    width: 100%;
    line-height: 1.6rem;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    display: block;
}

.clear::after {
    clear: both;
    content: ".";
    display: block;
    height: 1px;
    visibility: hidden;
}

article, aside, details, figcaption, figure, footer, header, section {
    display: block;
}

header {
    background: linear-gradient(to left, rgba(54, 194, 182, 0.96) 0, rgba(62, 188, 207, 0.96) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    height: auto;
    width: 100%;
    z-index: 1000;
}

/* this toffies the tabs, remove and all is fine again, tabs are not flexed. */
nav {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: solid grey;
    border-width: 1px 0;
    overflow: hidden;
}

footer {
    height: 25px;
    min-height: 25px;
}

.leftNav {
    width: 350px;
    min-width: 350px;
}

.mainDiv {
    border: solid grey;
    border-width: 0 0 0 1px;
    flex: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

.splitter {
    border-left: 1px solid grey;
    width: 4px;
    min-width: 4px;
    cursor: col-resize;
}
