nav.tab {
    display: block;
    overflow: hidden;
}

nav.tab > div.nav-tab {
    position: relative;
}

nav.tab > div.nav-tab a {
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
    text-decoration:none;
    display:inline-block;
    padding:8px 12px;
    border-radius:8px;
    border:1px solid red;
    color: red;
}

nav.tab > div.nav-tab a.invisible {
    display: none;
}

nav.tab > div.nav-tab a.active {
    background-color: blue;
}

nav.tab > div.nav-tab a.tab-button {
    float: right;
    color: gray;
    border: none;
    font-size: 2rem;
}

nav.tab > div.nav-tab a.tab-button.hide {
    visibility: hidden;
}

nav.tab > div.nav-tab > div.tab-dropdown  {
    display: none;
    right: 0;
}

nav.tab > div.nav-tab > a:hover + div.tab-dropdown {
    display: block;
    right: 0;
}

nav.tab > div.nav-tab > div.tab-dropdown a {
    float: right;
    clear: right;
}

nav.tab > div.nav-tab > div.tab-dropdown:hover {
    display: block;
    right: 0;
}

@media (min-width: 990px) {
    nav.tab > div > ul > li > a {
        max-width: 500px;
        font-size: 2rem;
        line-height: 2rem;
    }

    nav.tab > div > ul > li > a > div > span {
        margin: 4px 0 0;
    }
}