nav.tab {
    display: block;
    overflow: hidden;
}

nav.tab > div.outer {
}

nav.tab > div.outer > div.nav-tab.left {
    float: left;
    white-space: nowrap;
}

nav.tab > div.outer > div.nav-tab.right {
    float: right;
    white-space: nowrap;
}

nav.tab > div.outer  > div.nav-tab a {
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
    text-decoration:none;
    display:inline-block;
    padding:8px 12px;
    border-radius:8px;
    border:1px solid red;
    color: red;
}

nav.tab > div.outer > div.nav-tab a.active {
    background-color: blue;
}

nav.tab > div.outer > div.nav-tab a.tab-button.right {
    background-color: red;
}

nav.tab > div.outer > div.nav-tab a.tab-button.left {
    background-color: red;
}

@media (min-width: 990px) {
    nav.tab > div > ul > li > a {
        max-width: 500px;
        font-size: 2rem;
        line-height: 2rem;
    }

    nav.tab > div > ul > li > a > div > span {
        margin: 4px 0 0;
    }
}